
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 200% 100% !important;
    animation: move 20s ease infinite;
    background: linear-gradient(270deg, #fbe8a6, #f4976c); 
}


.bng{
    
    display: table-cell;
    position: absolute;
}

/*
.logo
{
    position: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
*/


.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

/*个人资料*/
.user__header { 

    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.1s forwards;
}

/*个人资料*的字*/
.user__title {
    font-family: Microsoft YaHei;
    font-size: 50px;
    margin-bottom: -10px;
    font-weight: 500;
    color: #303c6c;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    animation: arrive 500ms ease-in-out 0.1s forwards;
}


/*submit */
.form--no {         

    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: Microsoft YaHei;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.5s;
}

.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  
  color: black;
  padding: 20px;
  width: 250px;
  border: none;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: Microsoft YaHei;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 20px;
}


.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: Microsoft YaHei;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: #303c6c;
    background: #d2fdff;
    transition: 0.3s;
}

/*
.tnc {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: Microsoft YaHei;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: red;
    background: #ABA194;
    transition: 0.3s;
}
*/

/* idk all these code */ 
@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}

/*scrollbar*/
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: pink;
  outline: 1px solid slategrey;
}