/* Idk why you are here but I want to tell you hack is illegal*/



body, html
{
	height: 100%;	
	margin: 0;
	padding: 0;

}

.bg 
{
	background-image: url(fyhs.jpg);
	height: 100%; /*full screen*/
	background-position: center;
	background-size: cover;
	position: relative;
	color: black; /*text color*/
	font-family: 'Zhi Mang Xing', cursive;


}



.middle /*position text in the middle*/
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	user-select: none;
}

h1/*校庆倒数*/
{
	display: inline-block;
	font-size: 40px;
	letter-spacing: 20px;
	font-weight: 500; /*set thick or thin characters*/
	font-color: black;
	font-family: Microsoft YaHei;
	font-stretch: expanded;

	
}

#timer
{
	font-weight: lighter;
	word-spacing: 15px;
	font-family: 'Zhi Mang Xing', cursive;
}


hr{

	margin: auto;
	width: 80%;
	border: 1.5px solid #fff;
}


@media screen and (min-width: 601px) {
  h1 {
    font-size: 40px;
    letter-spacing: 20px;
  }
}

@media screen and (max-width: 600px) {
  h1{
    font-size: 30px;
    letter-spacing: 5px;

  }
}

@media screen and (max-width: 600px) {
  #timer{
    word-spacing: 1px;
  }
}




/*FoonYewProject-Front-end*/