/* Idk why you here but please dont hack this website.*/
/*I didnt pay for this project*/
/*FYMCS FYP Front-end*/
/*THIS PAGE IS UGLY PLS GO AWAY LEAVE THIS COUNTDOWN CLOCK ALONE*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

body
{
	font-family: 'Lato', sans-serif;
	background-color: #5CDB95;
}

.center
{
	position: absolute;
	top: 45%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;

}

h1
{
	text-align: center;
	text-transform: uppercase;
	color:#05386B;
	font-size: 4em;
	user-select: none;

}
h1 span
{
	font-size: 2em;
	line-height: .8em;
	user-select: none;
} 


h2
{
	color: #5CDB95;
	font-size: 1px;
	user-select: none;
}


.clock
{
	display:flex;
	justify-content: center;
	user-select: none

}

.clock span
{
	position: relative;	
	width: auto;
	padding: 0px;
	margin: 0px;
}




.clock-days，.clock-hours，.clock-mins, .clock-sec
{
 	background-color: white;
	border: 2px solid #333;
	width: 570px;
	margin: 0 auto;
	height: auto;
	color: black;
	font-size: 2em;
	
}	

.clock-days div, .clock-hours div, .clock-mins div, .clock-sec div
{
	position: relative;
	width: auto;
	padding: 0px;
	margin: 0px;	
}



.clock-days div:last-child, .clock-hours div:last-child,  .clock-mins div:last-child, .clock-sec div:last-child
{
	background:#2b44bf;
}



.clock-days div:before, .clock-hours div:before, .clock-mins div:before, .clock-sec div:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(255,255,255,.2);
}

.clock-days div span, .clock-hours div span .clock-mins div span, .clock-sec div span 

{
	display: block;
	text-align: center; 
	font-size: 48px;
	font-weight: 800;
}


.clock-days div span, .clock-hours div span, .clock-mins div span, .clock-sec div span
{
	font-size: 48px;
	font-weight: 800;
}
/*
.clock-mins div span:nth-child(2), .clock-sec div span:nth-child(2)
{
	font-size: 25px;
	font-weight: 800;
	margin-top: -10px;
}	