/* Idk why you are here but I want to tell you hack is illegal*/

body, html
{
	height: 100%;	
	margin: 0;
	padding: 0;
}

.bg 
{
	background-image: url(fyhs.png);
	height: 100%; /*full screen*/
	background-position: center;
	background-size: cover;
	position: relative;
	color: black; /*white text*/
	font-family: Prime;

}



.middle /*position text in the middle*/
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	user-select: none;
}

h1
{
	font-size: 40px;
	letter-spacing: 15px;
	font-weight: 100; /*set thick or thin characters*/
	font-color: black;
	font-family: 'Ma Shan Zheng', cursive;
	font-stretch: expanded;
}

#demo
{
	font-weight: lighter;
	word-spacing: 10px;
	font-family: 'Ma Shan Zheng', cursive;
}


hr{

	margin: auto;
	width: 80%;
	border: 1.5px solid #fff;
}


/*FoonYewProject-Front-end*/