/* Idk why you are here but I want to tell you hack is illegal*/
/*What is the day that has the most birthdays?
/*The second least popular birthday falls on Christmas, December 25th, followed by January 1st. 
Babies delivered on the most common day of the year, September 16, were likely conceived on December 24th, which ranked as the fourth least common birthday.*/
body, html {
	height: 100%;	
	margin: 0;
	padding: 0;

}

.bg {
	background-image: url(0.5.png);
	height: 100%; /*full screen*/
	background-position: center;
	background-size: cover;
	position: relative;
	color: black; /*text color*/
	font-family: Microsoft YaHei;
}



.middle {	/*position text in the middle*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	user-select: none;
}

hr { /*红线*/
	margin: auto;
	width: 90%; /*长度*/
	border: 1.5px solid red;
}

.fa {
  	padding: 150px;
   	font-size: 30px;
  	width: 50px;
  	text-align: center;
  	text-decoration: none;
  	margin: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  	background: #3B5998;
  	color: white;
}

.fa-info {
	background: #A9A9A9;
	color: white;

}

.fa-globe {
	background: #00B7EB;
	color: white;

}


/* ==========================================================================
   600px wide or more
   ========================================================================== */
@media screen and (min-width: 601px) { 
  h1 {
  font-size: 50px;
	letter-spacing: 10px;
	font-weight: 500; /*set thick or thin characters*/
	color: black;
	font-family: Microsoft YaHei;
	font-stretch: expanded;
  }
}
@media screen and (min-width: 601px) {
  #timer {
  font-size: 35px;
  letter-spacing: 5px;
	font-weight: 500; /*set thick or thin characters*/
	color: black;
	font-family: Microsoft YaHei;
	font-stretch: expanded;
  }
}

@media screen and (min-width: 601px)  {
  .fa {
  padding: 25px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 20px; 
  }
}

@media screen and (min-width: 601px) {
  img {
   width: 120px;
   height: 175px;
  }
}

/* ==========================================================================
   600px wide or less
   ========================================================================== */
@media screen and (max-width: 600px)  {
  h1 {
  font-size: 20px;
  letter-spacing: 3px;
	font-weight: 500; /*set thick or thin characters*/
	color: black;
	font-family: Microsoft YaHei;
	font-stretch: expanded;

  }
}

@media screen and (max-width:600px)	{
  #timer {
  font-size: 15px;
  letter-spacing: 1px;
	font-weight: 500; /*set thick or thin characters*/
	color: black;
	font-family: Microsoft YaHei;
	font-stretch: expanded;
    
  }
}

@media screen and (max-width:600px)  {
  .fa {
  padding: 10px;
 	font-size: 15px;
  max-width: 10%;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  	 
  }
}

@media screen and (max-width: 600px) {
  img {
  width: 50px;
  height: 75px;
  }
}





/*😔*/
/*FoonYewProject-Front-end*/